body {
  background: #ccc!important;
}

#test {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  width: 50%;
  padding-left: 7%;
}

.card {
  width: 350px;
  float: left;
  margin-right: 10px;
}

.progress-bar {
  height: 10px;
}